body{

    background-color: blue;
    background-size: cover;
    background-attachment: fixed;

}

h2{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-size: larger;


}
p{

    color: blue;
    font-size: smaller;
    
}
